@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Raleway:wght@500&display=swap");

html {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #444;
  line-height: 1.5;
}

.container {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px #bbb;
}

button {
  font-size: 1rem;
  line-height: 2.5rem;
  background-color: #f1953a;
  color: white;
  border: 2px solid #f1953a;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
  transition: 100ms;
}
